```{=html}
<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

<% for (const item of items) { %>

<h2><%- item.status %></h2>

<div class="list grid" style="column-gap: 5px;">

<% for (const person of item.people) { %>

  <div class="g-col-12 g-col-sm-6 g-col-md-3 mb-2 text-center">
    <div class="avatar-circle">
      <img class="avatar avatar-circle" src="<%= person.image %>" alt="Photo of <%= person.name %>">
      </div>
        <h3><%= person.name %></h3>
        <% if (person.role) { %>
        <p><strong><%= person.role %></strong>
        <% } %>
        <% if (person.years) { %>
        <br>
        <%= person.years %>
        <% } %>
        <% if (person.research) { %>
        <br>
        <%= person.research %>
        <% } %>
        </p>

        <% if (person.links) { %>
        <% for (const link of person.links) { %>
          <a class="icon" href="<%= link.href %>">
          <iconify-icon icon="<%= link.icon %>" height="1.5em"></iconify-icon>
          </a>
        <% } %>
        <% } %>
  </div>
<% } %>

</div>

<% } %>
```